<div class="dropdown">
    <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" class="btn btn-success">
        {{activeItem.label}}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li role="presentation"><a role="menuitem" ng-click="setActiveItem('general')" style="cursor: pointer">{{dropdownMenu.general.label}}</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation" class="dropdown-header">Ходы фигур</li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" ng-click="setActiveItem('king')" style="cursor: pointer">{{dropdownMenu.king.label}}</a></li>
        <li role="presentation"><a role="menuitem" ng-click="setActiveItem('queen')" style="cursor: pointer">{{dropdownMenu.queen.label}}</a></li>
        <li role="presentation"><a role="menuitem" ng-click="setActiveItem('bishop')" style="cursor: pointer">{{dropdownMenu.bishop.label}}</a></li>
        <li role="presentation"><a role="menuitem" ng-click="setActiveItem('rook')" style="cursor: pointer">{{dropdownMenu.rook.label}}</a></li>
        <li role="presentation"><a role="menuitem" ng-click="setActiveItem('knight')" style="cursor: pointer">{{dropdownMenu.knight.label}}</a></li>
        <li role="presentation"><a role="menuitem" ng-click="setActiveItem('pawn')" style="cursor: pointer">{{dropdownMenu.pawn.label}}</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation" class="dropdown-header">Особые действия</li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" ng-click="setActiveItem('transformation')" style="cursor: pointer">{{dropdownMenu.transformation.label}}</a></li>
        <li role="presentation"><a role="menuitem" ng-click="setActiveItem('enPassant')" style="cursor: pointer">{{dropdownMenu.enPassant.label}}</a></li>
        <li role="presentation"><a role="menuitem" ng-click="setActiveItem('castling')" style="cursor: pointer">{{dropdownMenu.castling.label}}</a></li>
        <li role="presentation"><a role="menuitem" ng-click="setActiveItem('checkMate')" style="cursor: pointer">{{dropdownMenu.checkMate.label}}</a></li>
</div>
<div ng-show="activeItem.label === 'Общие правила'" ng-include="'frontend/single-rules-pages/general.html'">
</div>
<div ng-show="activeItem.label === 'Рокировка'" ng-include="'frontend/single-rules-pages/castling.html'">
</div>
<div ng-show="activeItem.label === 'Шах и мат'" ng-include="'frontend/single-rules-pages/check-mate.html'">
</div>
<div ng-show="activeItem.label === 'Взятие на проходе'" ng-include="'frontend/single-rules-pages/en-passant.html'">
</div>
<div ng-show="activeItem.label === 'Превращение'" ng-include="'frontend/single-rules-pages/transformation.html'">
</div>
<div ng-show="activeItem.label === 'Король'" ng-include="'frontend/single-rules-pages/king.html'">
</div>
<div ng-show="activeItem.label === 'Ферзь'" ng-include="'frontend/single-rules-pages/queen.html'">
</div>
<div ng-show="activeItem.label === 'Ладья'" ng-include="'frontend/single-rules-pages/bishop.html'">
</div>
<div ng-show="activeItem.label === 'Конь'" ng-include="'frontend/single-rules-pages/knight.html'">
</div>
<div ng-show="activeItem.label === 'Слон'" ng-include="'frontend/single-rules-pages/rook.html'">
</div>
<div ng-show="activeItem.label === 'Пешка'" ng-include="'frontend/single-rules-pages/pawn.html'">
</div>