<style>
    body{
        background-color: #bce8f1;
        background-image: url("");
    }
    </style>
<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form role="form">
                <h2>Please Sign Up <small>It's free and always will be.</small></h2>
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" ng-model="user.firstName" class="form-control input-lg" placeholder="First Name">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" ng-model="user.lastName" class="form-control input-lg" placeholder="Last Name">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" ng-model="user.nickName" class="form-control input-lg" placeholder="Nick Name">
                </div>
                <div class="form-group">
                    <input type="email" ng-model="user.email" class="form-control input-lg" placeholder="Email Address">
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="password" ng-model="user.password" class="form-control input-lg" placeholder="Password">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="password" ng-model="user.passwordConfirm" class="form-control input-lg" placeholder="Confirm Password">
                        </div>
                    </div>
                </div>

                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-md-6"><input type="submit" value="Register" ng-click="registerClick()" class="btn btn-primary btn-block btn-lg"></div>
                   <!-- <div class="col-xs-12 col-md-6"><a href="#" class="btn btn-success btn-block btn-lg">Sign In</a></div> -->
                </div>
            </form>
        </div>
    </div>
</div>